<h1> Employee Show page</h1>

<ul style="list-style-type:none;">
<img src=<%=@employee.img_url%> alt="Employee picture">
<li> <%= @employee.first_name + " " + @employee.last_name %></li>
<li> <%= @employee.alias %></li>
<li> <%= @employee.title %></li>
<li> <%= @employee.office %></li>
</ul>